/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del encabezado y navegación */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #444;
    text-align: center;
    padding: 10px;
}

/* Estilos para botones "Partidos de Hoy" */
.btn-primary {
    background-color: #0074D9; /* Azul */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Estilos para el botón "Discord" */
.btn-secondary {
    background-color: #7289DA; /* Color característico de Discord */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none; /* Para enlaces */
    display: inline-block; /* Para enlaces */
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5266A4; /* Color más oscuro al pasar el mouse */
}

/* Estilos de la tabla de partidos con esquinas curvas y sin líneas visibles */
.partidos {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border: none; /* Quitamos el borde de la tabla */
    border-radius: 10px; /* Aplicamos bordes redondeados a la tabla */
}

th, td {
    text-align: center;
    padding: 10px;
    border: none; /* Quitamos el borde de las celdas */
    border-radius: 10px; /* Aplicamos bordes redondeados a las celdas */
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #fff;
}

